body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 250px;
}

#preview {
    padding: 20px;
    flex-grow: 1;
}

.control {
    margin-bottom: 15px;
}

#live-view {
    min-height: 500px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover {
    background-color: lightgray;
}

.menu {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
}

.menu-btn {
    margin-bottom: 5px;
}

.menu strong {
    display: block;
    margin-bottom: 5px;
}

.menu-color,
.menu-select,
.menu-input {
    margin-bottom: 10px;
}

.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 5px;
    right: 5px;
}